<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar territorio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<h2>Editar Territorio</h2>
<hr/>
<form method="post" th:action="@{'/guardar'}">
    <input th:value="${compra.idcompra}" name="idcompra" type="hidden" />
    <div class="form-group">
        <label for="cantidadproducto">Cantidad de Producto</label>
        <input th:value="${compra.cantidadproducto}" name="cantidadproducto" type="text" class="form-control" id="cantidadproducto" />
    </div>
    <div class="form-group">
        <label for="direccion">Dirección</label>
        <input th:value="${compra.direccion}" name="direccion" type="text" class="form-control" id="direccion" />
    </div>
    <div class="form-group">
        <label for="idproducto">ID Producto</label>
        <select class="form-control" id="idproducto" name="productoidproducto">
            <option th:each="pro : ${lista}" th:value="${pro.idproducto}"
                    th:text="${pro.idproducto}" th:selected="${compra.productoidproducto == pro.idproducto}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="metododepago">Método de Pago</label>
        <select class="form-control" id="metododepago" name="metododepago" >
            <option th:each="metodos : ${listametodos}" th:value="${metodos}"
                    th:text="${metodos}" th:selected="${compra.metododepago == metodos}"> </option>

        </select>
    </div>

    <div class="form-group">
        <label for="supermercado">Supermercado</label>
        <select class="form-control" id="supermercado" name="mall">
            <option th:each="malls : ${listaMalls}" th:value="${malls}"
                    th:text="${malls}" th:selected="${compra.mall == malls}" ></option>

        </select>
    </div>
    <a th:href="@{'/lista'}" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
</body>
</html>